<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!--Typography-->
  <link rel="icon" type="image/png" sizes="16x16" href= "{{ url_for('static', filename='assents/favicon/semap/favicon.ico') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!--Favicon-->
  <link rel="stylesheet" href= "{{ url_for('static', filename='css/semap/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/semap/main.css') }}">
  <!--CSS-->
  <title>Semap - Setores</title>
</head>

<body>
  <div class=" wrapper">
    <div class="header-container">
      <header class="header">
        <div class="logo">
          <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='assents/imgs/semap/logo-semed.svg') }}" alt="logo da prefeitura de Maceió"></a>
        </div>
        <button class="menu-mobile" data-menu>Menu</button>
        <nav class="nav-bar">
          <ul class="nav-list">
            <li data-dropdown>
              <a href="#">Setores <img src="{{url_for('static', filename = 'assents/icons/semap/dropdown.svg')}}" alt="seta"></a>
              <ul class="nav-dropdown">
                <li><a href="{{url_for('listasetores')}}">Lista de Setores</a></li>
                <li><a href="#">Hierarquia de Setores</a></li>
                <li><a href="#">Ajustar Setor</a></li>
              
              </ul>
            </li>
            <li><a href="#">Mapa</a></li>
            <li><a href="{{url_for('listasetores')}}">Lista de Setores</a></li>
            <li><a href="{{url_for('agenda')}}">Agenda</a></li>
            <li><a href = "{{url_for('teste')}}">Testes</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Ajuda</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="grid-container">
      <main class="main-hero">
        <div class="main-content">
          <h2 class="upper-title">ambiente de testes</h2>
          <h1>Bem-vindo ao <span>Help Center</span>
          </h1>
          <form action="get" name="search" class="main-search">
            <div class="search-container">
              <img src="{{ url_for('static', filename='assents/icons/semap/search.svg')}}" alt="lupa">
              <input type="text" name="search" placeholder="Pesquise aqui">
            </div>
          </form>
          <div class="main-cards">
            <a class="card" href="#">
              <div class="card-header">
                <img src=" {{ url_for('static', filename='assents/icons/semap/rocket-icon.svg')}}" alt="foguete">
                <h3>Projeto</h3>
              </div>
              <div class="card-body">
                <p>Um guia rápido e eficaz para superar desafios iniciais e acelerar sua evolução no setor. Simplifique sua jornada de aprendizado hoje!</p>
              </div>
              <div class="card-bottom"> <img src="{{ url_for('static', filename='assents/icons/semap/arrow-button.svg')}}" alt=""></div>
            </a>
            <a class="card" href="#">
              <div class="card-header">
                <img src="{{ url_for('static', filename='assents/icons/semap/bug-icon.svg') }}" alt="inseto">
                <h3>Relatar Bug</h3>
              </div>
              <div class="card-body">
                <p>Reporte bugs e contribua para a melhoria contínua do nosso sistema. Acesse agora o nosso portal e ajude-nos a aprimorar sua experiência!</p>
              </div>
              <div class="card-bottom"> <img src=" {{ url_for('static', filename='assents/icons/semap/arrow-button.svg')}}" alt=""></div>
            </a>
          </div>
        </div>
        <div class="main-img"></div>
      </main>
      <div class="services-container">
        <div class="services-header">
          <h1>Como nós podemos te <span>ajudar ?</span></h1>
          <h2>Caso não encontre o que deseja aqui, vá ao seu superior.</h2>
        </div>
        <ul class="services-body">
          <li class="card">
            <a href="">
              <div class="card-header">
                <h3>Começando no setor & conceitos básicos.</h3>
                <img src=" {{ url_for('static', filename='assents/icons/semap/school-green-icon.svg')}}" alt="">
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellat eaque doloremque architecto ab iure consequuntur optio, eius aut ipsa, magnam quas earum doloribus perspiciatis veritatis at temporibus vel ullam?</p>
              </div>
              <div class="card-bottom">
                <p>veja mais</p>
                <img src="{{ url_for('static', filename='assents/icons/semap/card-arrow.svg')}}" alt="">
              </div>
            </a>
          </li>

          <li class="card">
            <a href="">
              <div class="card-header">
                <h3>Mapa Interativo da Secretaria.</h3>
                <img src=" {{ url_for('static', filename='assents/icons/semap/map-icon.svg')}}" alt="">
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellat eaque doloremque architecto ab iure consequuntur optio, eius aut ipsa, magnam quas earum doloribus perspiciatis veritatis at temporibus vel ullam?</p>
              </div>
              <div class="card-bottom">
                <p>veja mais</p>
                <img src="{{ url_for('static', filename='assents/icons/semap/card-arrow.svg')}}" alt="">
              </div>
            </a>
          </li>
          <li class="card">
            <a href="">
              <div class="card-header">
                <h3>Lista de Setores e seus detalhes</h3>
                <img src="{{ url_for('static', filename='assents/icons/semap/sectors-icon.svg')}} " alt="">
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellat eaque doloremque architecto ab iure consequuntur optio, eius aut ipsa, magnam quas earum doloribus perspiciatis veritatis at temporibus vel ullam?</p>
              </div>
              <div class="card-bottom">
                <p>veja mais</p>
                <img src="{{ url_for('static', filename='assents/icons/semap/card-arrow.svg')}}" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
      <footer>
        <p>Todos os direitos reservados.</p>

      </footer>
    </div>
  </div>

  <script type="module" src="{{ url_for('static', filename='js/semap/script.js')}}"></script>
</body>

</html>