<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AcademiaScope - Usuários</title>
    <link href="{{url_for('static', filename='css/usuarios.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
        <a href="{{url_for('dashboard')}}"><img src="{{ url_for('static', filename='assents/imgs/home/header-logo.svg') }}" alt="logo da prefeitura de maceio"></a>
    </div>
    
    <div class="input-container">
      <div class="input-box">
        <form method="POST">
          <select name="atributo-search"  id="">
              <option value="Todos">Todos</option>
              <option value="Setor">Setor</option>
              <option value="Nome">Nome</option>
          </select>
          <input type="text" name="filtro-search" placeholder="Filtro">
          <button type="submit">Confirmar</button>
        </form>
      </div>
    </div>
  

    <div class="container">
      <div class="header">
        <ul class="user-list">

        {% for usuario in usuarios | sort(attribute='nome') %}
          <a href="{{url_for('usuario', id_usuario = usuario.id_usuario)}}">
            <li class="user">
              <div class = "image-container">
                <img src="{{ url_for( 'static', filename= 'uploads/' + usuario.foto) }}" class="image-user">
              </div>
              {{usuario.nome}}
              ({{usuario.status}})
            </li>
          </a>
        {% endfor %}
      </ul>
      </div>
    </div>


  
  </body>
</html>
