<div class="warning-container">
    <style>.warning-container{display: none;}</style>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <style>.warning-container{display: flex;}</style>

        {% for category, message in messages %}
            <div class="warning {% if category == 'error' %}error{% else %}success{% endif %}">
                <div class="warning-icon {% if category == 'error' %}error{% else %}success{% endif %}">
                    {% if category == "error" %}
                        <img src="{{url_for('static', filename='assents/icons/warning/warning_icon.svg')}}">
                    {% else %}
                        <img src="{{url_for('static', filename='assents/icons/warning/thumb_up.svg')}}">
                    {% endif %}
                </div>
                {{ message }}
                <span>X</span>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
