.header-container,
.menu,
.menu ul {
  display: flex;
}

.header-container {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  justify-content: center;
}

.header {
  width: 80%;
  min-height: 100%;
  min-width: 1200px;
}

.menu {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.menu .logo .logo-title a{}

/*Possivel separador para estilo.*/

/* .menu::after {
  content: "";
  display: block;
  width: 84%;
  height: 3px;
  background-color: #cfcfcf;
  position: absolute;
  top: 10px;
  left: auto;
  right: 0;
} */

.menu .logo {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 160px;
  background-color: #010206;
  border-left: 12px solid var(--cor-enfase-2);
  padding: 8px;
}

.menu .logo {
  font-size: 12px;
  font-family: "Roboto Mono";
  color: #bebebe;
}

.menu .logo .logo-title {
  font-size: 20px;
  font-family: "Roboto Mono";
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--cor-base-0);
  margin-bottom: 6px;
}



.menu ul {
  height: 100%;
  align-items: center;
  gap: 52px;
}

.menu ul li {
  position: relative;
}

.menu ul li a,
.menu .contact a {
  font-family: "Roboto Mono";
  font-size: 16px;
  font-weight: 400;
  color: var(--cor-base-3);
}
.menu .contact {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu ul li a:hover,
.contact a:hover {
  color: var(--cor-enfase-2);
}
/* 
.menu ul li a.ativo {
  color: #ff5915;
} */

.menu ul li a.ativo:after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 6px;
  background-color: var(--cor-enfase-2);
  bottom: -4px;
  left: -1px;
  z-index: -1;
}
