body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #fff4eb;
}

:root {
  --cor-enfase-1: #f1bd5a;
  --cor-enfase-2: #ff5915;
  --cor-enfase-3: #edcb7d;
  --cor-base-0: #ececec;
  --cor-base-1: #010206;
  --cor-base-2: #1a1a1a;
  --cor-base-3: #4d4d4d;
  --cor-base-4: #666666;
  --fonte-padrao: "Roboto Mono", sans-serif;
  --fonte-secundaria: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
