.warning-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
}

.warning-container.active {
  display: none;
}

.warning {
  width: 340px;
  height: 320px;
  background-color: var(--cor-enfase-1);
  padding: 20px 24px;
  position: relative;
  box-shadow: 8px 8px 0 #000;
  animation: 0.5s dropdown forwards;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-warning {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: var(--cor-enfase-1);
  color: #000;
  font-family: var(--fonte-secundaria);
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.warning span {
  color: var(--cor-enfase-2);
  font-weight: bold;
}

.warning-header {
  font-family: var(--fonte-padrao);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.warning-body {
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #4b4832;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
